<div class="menu_desplegable"> <!-- Tiene position fixed, virtualmente no ocupa espacio, se monta sobre pantalla -->
            <!-- Título del menú -->
            <div class="encabezado_estatico">
                <h1>Menú Principal</h1>
            </div>
            <!-- Tarjetas del menú -->
            <div class="ventana_menu">
                <!-- hacia el calendario -->
                <a href="/validAdmin/calendar.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Calendario.png" alt="">
                        <h2>Agendar citas</h2>
                        <p>Programar citas de pacientes por fechas</p>
                    </div>
                </a>  
                <!-- hacia el certificado -->
                <a href="/validAdmin/certificate.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Certificado.png" alt="">
                        <h2>certificados</h2>
                        <p>Generación de certificados para pacientes</p>
                    </div>
                </a>
                <!-- hacia el reloj -->
                <a href="/validAdmin/dates.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Reloj.png" alt="">
                        <h2>Ver citas</h2>
                        <p>Listado de citas programadas por fecha</p>
                    </div>
                </a>
                <!-- hacia el usuario -->
                <a href="/validAdmin/dates.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Usuario.png" alt="">
                        <h2>Perfil paciente</h2>
                        <p>Información registrada de cada paciente</p>
                    </div>
                <a>
                <!-- hacia vacunas -->
                <a href="/validAdmin/patients.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Vacuna.png" alt="">
                        <h2>Ingresar paciente</h2>
                        <p>Registro, actualización y eliminación de pacientes</p>
                    </div>
                </a>
                <!-- hacia el informe -->
                <a href="/validAdmin/report.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Informe.png" alt="">
                        <h2>Informes</h2>
                        <p>Generación de informes para procesos administrativos</p>            
                    </div>
                </a>
                <!-- hacia cerrar sesión -->
                <a href="/validAdmin/report.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Cerrar.png" alt="">
                        <h2>Cerrar sesión</h2>
                        <p>Volver al menú de autenticación</p>            
                    </div>
                </a>
            </div>
            <!-- Termina tarjetero -->
        </div>
        <!-- Termina menú desplegable -->