<!-- Desplegble tras oprimir el botón de menu (Hay que convertirlo en un componente) -->
        <div class="menu_desplegable"> <!-- Tiene position fixed, virtualmente no ocupa espacio, se monta sobre pantalla -->
            <!-- Título del menú -->
            <div class="encabezado_estatico">
                <h1>Para clientes</h1>
            </div>
            <!-- Tarjetas del menú -->
            <div class="ventana_menu">
                <!-- hacia eventos -->
                <a href="/inicio/404Error.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Calendario.png" alt="Ícono de calendario para dirigir a eventos">
                        <h2>Eventos</h2>
                        <p>Conozca la actividad social de la empresa</p>
                    </div>
                </a>
                <!-- hacia información de certificados -->
                <a href="/inicio/404ErrorVariety.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Certificado.png" alt="Ícono de certificado para dirigir a certificados">
                        <h2>Valide certificados</h2>
                        <p>Conozca acerca de la validación de su proceso de vacunación</p>
                    </div>
                </a>
                
                <!-- hacia información de vacunas -->
                <a href="/inicio/404ErrorVariety.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Vacuna.png" alt="Ícono de vacunas para dirigir a vacunas">
                        <h2>Oferta de vacunas</h2>
                        <p>Requisitos y especificaciones de inyectología</p>
                    </div>
                </a>
                <!-- hacia el informe -->
                <a href="/inicio/404Error.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Informe.png" alt="Ícono de folios para dirigir a normativa">
                        <h2>Normativa</h2>
                        <p>Legalidad y legitimidad del proceso de vacunación</p>            
                    </div>
                </a>

                <!-- hacia contacto -->
                <a href="/inicio/contact.html">
                    <div class="box_menu">
                        <img class="imagen_menu" src="/assets/img/resources/Usuario.png" alt="Ícono de personas para dirigir a contacto">
                        <h2>Contacto</h2>
                        <p>Escriba o llame al equipo de la organización</p>
                    </div>
                </a>
            </div>
            <!-- Termina tarjetero -->
        </div>
        <!-- Termina menú desplegable -->